Package: com.aradev.app
Name: AraDev
Version: 0.9.2
Architecture: iphoneos-arm64
Description: Open-source YouTube enhancement with downloads, SponsorBlock, background playback and interface controls
Maintainer: AraDev
Author: AraDev
Section: Tweaks
Depends: mobilesubstrate | ellekit, firmware (>= 16.0)
Homepage: https://t.me/aradeveloper7
Tag: role::enduser
